.form-control{
    box-shadow:none;

    @include media-breakpoint-up(lg) {
        &.form-control-lg{
            padding: $input-lg-padding-y $input-padding-x;
        }
    }

}

.form-check-input {
    &.round-check{
        &[type="checkbox"] {
            @include border-radius($form-check-radio-border-radius);
          }
    }
}

.search-bar {
    .form-control {
        border: none;
        padding-left: 2.375rem;
    }
    .input-group-text {
        background-color: $input-bg;
        border: $input-border-width solid $input-border-color;
        border-right: none;
    }
}

.form-control-flush {
    background-color: transparent;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.form-control-muted {
    background-color: $gray-200;
    border-color: $gray-200;
    box-shadow: none;

    &:focus {
        background-color: $white;
    }
}

.form-control-alternative {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border: 0;
    transition: box-shadow .15s ease;

    &:focus {
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    }
}

.has-icon {
    position: relative;

    .form-control {
        padding-left: 2.375rem;
    }

    .form-control-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.625rem;
        pointer-events: none;
        color: $gray-600;
        transition: color .15s ease;
    }

    &.has-icon-right {
        .form-control {
            padding-left: $input-padding-x;
            padding-right: 2.375rem;
        }

        .form-control-icon {
            right: 0.625rem;
            left: auto;
        }
    }
}

